<div class="containerBig-card">
  <div class="bigCard_photo">
    <img
      src="https://cdn.izap.com.br/copass-saude.com.br/plus/images?src=noticias-2022/abril/beneficios-do-chocolate-para-a-saude.jpg&width=400&mode=max"
      alt="" srcset=""
    >
  </div>
  <div class="bigcard_title">
    <h1>CONHEÇA 7 BENEFÍCIOS DO CHOCOLATE PARA A SAÚDE</h1>
  </div>
  <div class="bigcard_description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quae dolorum, velit excepturi iusto aliquam? Veritatis, ab ex. Perspiciatis quasi magnam aliquam expedita, autem sunt eum cupiditate atque sed temporibus.</p>
  </div>
</div>
